@font-face {
    font-family: "SeoulNamsanL";
    font-weight: 200;
    src: url("../../../public/static/fonts/SeoulNamsanL.ttf") format("truetype");
}
@font-face {
    font-family: "MalgunGothic";
    src: url("../../../public/static/fonts/MalgunGothic.eot") format("truetype");
}

@font-face {
    font-family: "Recoleta-Reuglar";
    src: url("../../../public/static/fonts/Recoleta-Regular.ttf")
            format("truetype"),
        url("../../../public/static/fonts/Recoleta-Regular.woff") format("woff"),
        url("../../../public/static/fonts/Recoleta-Regular.eot")
            format("embedded-opentype");
}
