@font-face {
    font-family: "SeoulNamsanL";
    font-weight: 200;
    src: url("../../public/fonts/SeoulNamsanL.ttf") format("truetype");
}
@font-face {
    font-family: "MalgunGothic";
    src: url("../../public/fonts/MalgunGothic.eot") format("truetype");
}

@font-face {
    font-family: "Recoleta-bold";
    src: url("../../public/fonts/Recoleta-Medium.ttf") format("truetype"),
        url("../../public/fonts/Recoleta-Medium.eot")
            format("embedded-opentype"),
        url("../../public/fonts/Recoleta-Medium.woff") format("woof");
}

@font-face {
    font-family: "Recoleta";
    src: url("../../public/fonts/Recoleta-Regular.ttf") format("truetype"),
        url("../../public/fonts/Recoleta-Regular.woff") format("woff"),
        url("../../public/fonts/Recoleta-Regular.eot")
            format("embedded-opentype"),
        url("../../public/fonts/Recoleta-Bold.eot") format("embedded-opentype"),
        url("../../public/fonts/Recoleta-Bold.ttf") format("truetype"),
        url("../../public/fonts/Recoleta-Bold.woff") format("woof"),
        url("../../public/fonts/Recoleta-Medium.ttf") format("truetype"),
        url("../../public/fonts/Recoleta-Medium.eot")
            format("embedded-opentype"),
        url("../../public/fonts/Recoleta-Medium.woff") format("woof");
}
